@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
}

/************GENERAL************/

.content_holder {
    width: 900px;
    margin: 0 auto;
    /* position: relative; */
    /* border: 1px solid #000; */
}

/************HEADER************/

.header {
    height: 100vh;
    background-image: url(images/header.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header_center {
    /* border: 1px solid #000; */
    position: absolute;
    width: 900px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header_logo {
    margin: 0 auto 95px auto;
    width: 70px;
    height: 70px;
    background-image: url(images/logo.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.header_title {
    text-align: center;
    font-size: 54px;
    letter-spacing: 0.160em;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 40px;
}

.header_subtitle {
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    line-height: 29px;
    letter-spacing: 0.060em;
}

.scroll_icon {
    width: 23px;
    height: 37px;
    background-image: url(images/scroll.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

/************ABOUT************/

.about {
    height: 630px;
    padding-top: 160px;
}

.about_description {
    height: 312px;
    border: 2px solid #3c3c3c;
    position: relative;
    padding-top: 76px;
}

.description_title {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    position: absolute;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: -24px;
    width: 420px;
    text-align: center;
    letter-spacing: 0.160em;
}

.description_text {
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}

.text_one {
    margin-bottom: 25px;
}

/************SERVICES************/

.services {
    height: 488px;
    background-image: url(images/serv.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 128px;
}

.services_description {
    height: 251px;
    border-bottom: 2px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    position: relative;
    padding-top: 70px;
}

.services_description:before,
.services_description:after {
    content: '';
    height: 2px;
    width: 239px;
    background-color: #fff;
    position: absolute;
    top: 0;
}
.services_description:after {
    left: 100%;
    transform: translateX(-100%);
}

.services_title {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    position: absolute;
    color: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: -21px;
    text-align: center;
    letter-spacing: 0.160em;
}

.services_text {
    font-size: 16px;
    line-height: 25.89px;
    text-align: center;
    color: #fff;
    /* border: 1px solid #fff; */
    width: 550px;
    margin: 0 auto;
}

/************WHATWEDO************/

.whatwedo {
    height: 1414px;
    position: relative;
}

.whatwedo_description {
    height: 1182px;
    width: 900px;
    border: 2px solid #3c3c3c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 130px;
}

.whatwedo_title {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    position: absolute;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: -24px;
    width: 420px;
    text-align: center;
    letter-spacing: 0.160em;
}

.whatwedo_icon {
    width: 83px;
    height: 83px;
    margin: 0 auto;
    background-image: url(images/img1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 40px;
}

.whatwedo_title2 {
    font-size: 20px;
    letter-spacing: 0.160em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}

.whatwedo_text {
    font-size: 14px;
    line-height: 25.89px;
    text-align: center;
    margin-bottom: 105px;
}

.whatwedo_icon_2 {
    width: 79px;
    height: 79px;
    margin: 0 auto;
    background-image: url(images/img2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 40px;
}

.whatwedo_title3 {
    font-size: 20px;
    letter-spacing: 0.160em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}

.whatwedo_icon_4 {
    width: 79px;
    height: 79px;
    margin: 0 auto;
    background-image: url(images/img3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 40px;
}

.whatwedo_title4 {
    font-size: 20px;
    letter-spacing: 0.160em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}

/************CARDS************/

.cards {
    height: 485px;
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-gap: 10px;
}

.card_block {
    /* border: 1px solid #000; */
    position: relative;
}

.block_bg_1 {
    background-image: url(images/topwork.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.block_bg_2 {
    background-image: url(images/join.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.block_bg_3 {
    background-image: url(images/market.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.block_bg_4 {
    background-image: url(images/worktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.block_bg_5 {
    background-image: url(images/lable.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.block_bg_6 {
    background-image: url(images/kyiv.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.block_title {
    font-size: 34px;
    letter-spacing: 0.160em;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    top: 170px;
    left: 20px;
}

/************CONTACTS************/

.contacts {
    height: 600px;
    position: relative;
}

.contacts_description {
    height: 293px;
    width: 900px;
    border: 2px solid #3c3c3c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 77px;
}

.contacts_title {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: bold;
    position: absolute;
    background-color: #fff;
    left: 50%;
    transform: translateX(-50%);
    top: -24px;
    width: 420px;
    text-align: center;
    letter-spacing: 0.160em;
}

.contacts_text {
    margin-bottom: 42px;
}

.contacts_btn {
    width: 395px;
    height: 58px;
    background-color: #3c3c3c;
    margin: 0 auto;
    text-align: center;
    line-height: 58px;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.160em;
    cursor: pointer;
}

.contacts_btn:hover {
    background-color: #4e4e4e;
}

.contacts_footer {
    height: 50px;
    width: 400px;
    /* border: 1px solid #000; */
    position: relative;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -95px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer_icon {
    width: 37px;
    height: 38px;
    /* border: 1px solid #000; */
    background-image: url(images/footer.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 25px;
}

.footer_text {
    font-size: 14px;
    color: #3c3c3c;

}

